body{
	/*background-color: #538BA6;*/
	background: url("images/cogs-left.png") no-repeat scroll 0 0 #538BA6;
}
a{
	color: #043C57;
	font-size: 0.9em;
}
a:hover{
	color: #042D43;
	text-decoration: none;
}
hr{
	border: 1px solid;
    left: -45px;
    position: relative;
    width: 90%;
}
input[type="button"]{
	background-color: #E3E3E3;
    border: 1px solid #C5C5C5;
	border-radius: 4px 4px 4px 4px;
	color: #2E2E2E;
	-moz-box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    line-height: 1.66em;
    margin: 2px;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
}
input[type="button"]:hover{
	border-color: #aaa;
}
input[type="button"]:disabled{
	color: #a1a1a1;
}
ul{
	list-style: none;
}
.frame{
	border: 2px solid #ccc;
	border-radius: 4px 4px 4px 4px;
	margin: 0 auto;
	overflow-y: hidden;
	position: relative;
	top: 50px;
	width: 800px;
}
.cogs{
	background: url("images/cogs-left.png") no-repeat scroll 0 0 transparent;
	height: 817px;
	left: -20px;
	position: absolute;
	top: 0px;
	width: 330px;
}
.pdf{
	background: url("images/Reader-16.gif") no-repeat scroll 0 0 transparent;
	padding-left: 25px;
}
.vid{
	background: url("images/youtube.png") no-repeat scroll 0 0 transparent;
	padding-left: 25px;
}
.logo{
	background: url("images/comptialogo.png") no-repeat scroll 0 0 transparent;
	height: 78px;
	width: 194px;
}
.q-missMarker{
	font-size: 0.7em;
	color: #ff0000;
}
.q-prob{
	background: url("images/lock.png") no-repeat scroll right bottom #f6f6f6;
}
.q-title{
	background: url("images/secpluspe.png") no-repeat scroll right bottom #f6f6f6;
	height: 28px;
    width: 128px;
}
.q-gameOver  hr{
	visibility: hidden;
}
.q-score-track {
	width: 85px;
	margin-right: 40px;
	float: right;
}